{% extends "base.twig" %}

{% block title %}Admin - Empleados{% endblock %}

{% block maincontent %}
<br>
<div class="row">
    <div class="col-md-12">
         <form class="form-inline my-2 my-lg-0" action="/four/employees/list">
          <input class="form-control mr-sm-2" value="{{ search }}" name="email" type="text" placeholder="Search by email">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
          {% if search %}
            <a href="/four/employees/list" class="btn btn-outline-danger my-2 my-sm-0" type="submit" style="margin-left: 10px;">Reset</a>
          {% endif %}
         </form>                  
        <br>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Position</th>
              <th>Salary</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% set ind = 1 %}
            {% for employee in employees %}
               <tr>
                <th scope="row">{{ ind }}</th>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.salary }}</td>
                <td><a href="/four/employees/view/{{ employee.id }}">View</a></td>
               </tr>
            {% set ind = ind+1 %}
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}