{% extends "base.twig" %}

{% block title %}Empleado {{ employee.name }} {% endblock %}


{% block maincontent %}
<br>
<div class="row">
    <div class="col-md-12 container text-center">
        <h1>{{ employee.name }}</h1>    
    </div>
    
    <div class="col-md-3 col-sm-3">
        <div class="widget-wrap">
            <div class="widget-container">
                <div class="widget-content">
                    <img src="http://vvcexpl.com/wordpress/wp-content/uploads/2013/09/profile-default-male.png" width="100%">
                </div>
            </div>            
        </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
        <div class="widget-wrap">
            <div class="widget-container">
                <div class="widget-content">
                    <table class="table table-striped">                    
                        <tbody>
                            <tr>
                                <th class="text-left">Email:</th>
                                <td>{{ employee.email }}</td>
                                <td></td>
                            </tr>                        
                            <tr>
                                <th class="text-left">Phone:</th>
                                <td>{{ employee.phone}}</td>
                                <td></td>
                            </tr>                        
                            <tr>
                                <th class="text-left">Address:</th>
                                <td>{{ employee.address }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="text-left">Position:</th>
                                <td>{{ employee.position }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="text-left">Salary:</th>
                                <td>{{ employee.salary }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    
    <div class="col-md-3 col-sm-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-wrap">
                    <div class="widget-header container">
                        <div class="pull-left">
                            <p>Skills</p>
                            {% for skill in employee.skills %}
                                <button type="button" class="btn btn-{{ random(['primary', 'info', 'success', 'danger', 'warning']) }}  btn-sm"> {{ skill.skill }}</button>
                            {% endfor %}                           
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>                        
</div>
                             
                        
{% endblock %}