
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Slim Home</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/four/employees/list">Lista Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/v1/home">Api XML</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >------->></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/slim.zip">Descargar código completo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bitbucket.org/WillAcon/slim-test" target="_blank">Ver código en bitbucket</a>
      </li>
    </ul>
  </div>
</nav>
