{% extends "base.twig" %}

{% block title %}Admin - Propietarios{% endblock %}

{% block maincontent %}
  <h2>Ejemplos Salarios:</h2>

  <a href="/api/v1/employee/1234.45/2000.23">MIN: 1234.45 - MAX: 2000.23</a><br>
  <a href="/api/v1/employee/3000">MIN: 3000</a><br>
  <a href="/api/v1/employee/3600/4500">MIN: 3600 - MAX: 4500</a><br>
  <a href="/api/v1/employee/0/1200">MIN: 0 - MAX: 1200</a><br>

{% endblock %}
